@import './variables.scss';

.scorecard {
    main {
        padding: $vertical-space-lg 0;
        background: linear-gradient(to bottom right, $color-green, $color-green-dark);
        min-height: 92.6vh;
    }

    table {
        background: $color-white-off;
        width: 100%;
        border-radius: $border-radius-md;
        box-shadow: $box-shadow-nat;

        tr:nth-of-type(even) {
            background: $color-grey-light;
        }

        th, td {
            width: 33.333%;
            text-align: center;
        }

        th {
            background: $color-green-dark;
            padding: 1rem 0;
            color: $color-white
        }

        td {
            padding: 1rem 0;
            font-size: $font-size-md;
            border: 1px solid $color-grey-lighter;
            color: $color-grey-darker;
        }

        i {
            color: $color-green-dark;
            font-size: $font-size-lg;
            display: inline-block;
            transform: translateY(5px);
        }
    }
}